{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
{{ include('includes/AdminParts/header.html.twig') }}
<div class="main-content-inner">

{% for message in app.flashes('success') %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
	</div>
{% endfor %}
{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.category) }}
{{ form_row(form.content) }}
{{ form_row(form.image,{'required': false,'label':'File Upload ( leave this shit if you dont want to chage )'}) }}
<img src="{{ asset('uploads/') ~ image }}" class="mx-auto d-block" style="width:100px;">
<div class="clearfix"></div>
<button type="submit" class="btn btn-flat btn-primary mb-3">Edit</button>
<a href="{{ path('article_table') }}" class="btn btn-flat btn-dark mb-3">Back</a>

</div>
{{ form_end(form) }}
{{ include('includes/AdminParts/footer.html.twig') }}

{% endblock body %}